.root {
  display: flex;
  flex-direction: column;
}

.menuButton {
  margin-left: 30px;
  row-gap: 20px;
  column-gap: 20px;
}

.title {
  flex-grow: 1;
}

.list {
  width: 250px;
}

.drawerBtnClose {
  justify-content: flex-end !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
