.table {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border: 1px solid black;
  border-radius: 4px;
  overflow: visible;
  position: relative;
}

.table > p {
  font-weight: bold;
  text-align: center;
  margin: 8px 0;
}
.table:hover {
  cursor: pointer;
  background-color: gray;
  opacity: 0.9;
  transition: 0.2s;
}

.table-occupied {
  background-color: rgba(255, 76, 48, 1);
}

.table-bill {
  position: absolute;
  top: 50%;
}